# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.editorconfig      export-ignore
/phan.json          export-ignore
/phpunit.xml.dist   export-ignore
/pint.json          export-ignore
/phpstan.neon.dist  export-ignore
/phpstan-baseline.neon export-ignore
/psalm.xml          export-ignore
/psalm.xml.dist     export-ignore
/testbench.yaml     export-ignore
/tests              export-ignore
/workbench          export-ignore
/art                export-ignore
/docs               export-ignore
/node_modules       export-ignore
/package-lock.json  export-ignore
/vite.config.js     export-ignore
/UPGRADING.md       export-ignore
